body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

canvas {
    display: block;
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: crosshair;
    touch-action: none;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #555;
}

#prompt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#prompt {
    text-align: center;
    font-size: 24px;
}